{{/*
SPDX-FileCopyrightText: Copyright (C) 2022-2026 Cosmo Tech
SPDX-License-Identifier: MIT
*/}}
apiVersion: v1
kind: Secret
metadata:
  name: cosmotech-copilot-api-secret
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  {{- range $category, $settings := .Values.envConfig }}
  {{- range $key, $val := $settings }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
  {{- end }}