{{/*
SPDX-FileCopyrightText: Copyright (C) 2022-2026 Cosmo Tech
SPDX-License-Identifier: MIT
*/}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cosmotech-business-webapp.functions-name" . }}-secret
  namespace: {{ .Release.Namespace }}
stringData:
  KEYCLOAK_REALM_URL: {{ .Values.keycloak.realmUrl }}
  POWER_BI_TENANT_ID: {{ .Values.powerbi.tenantId }}
  POWER_BI_CLIENT_ID: {{ .Values.powerbi.clientId }}
  POWER_BI_CLIENT_SECRET: {{ .Values.powerbi.clientSecret }}
  COSMOTECH_API_URL: {{ .Values.cosmotech.apiUrl }}
  SUPERSET_API_URL: {{ .Values.superset.apiUrl }}
  SUPERSET_SUPERUSER_USERNAME: {{ .Values.superset.superuser.username }}
  SUPERSET_SUPERUSER_PASSWORD: {{ .Values.superset.superuser.password }}
