# SPDX-FileCopyrightText: Copyright (C) 2022-2025 Cosmo Tech
# SPDX-License-Identifier: MIT
name: API / Chart deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - charts/cosmotech-api/**
      - .github/workflows/api_deploy.yml

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: api_warp
    steps:
      - uses: actions/checkout@v6

      - uses: azure/setup-helm@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: azure/use-kubelogin@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          kubelogin-version: 'latest'

      - uses: azure/aks-set-context@v4
        with:
          cluster-name: "${{ vars.CLUSTER_NAME }}"
          resource-group: "${{ vars.CLUSTER_RESOURCE_GROUP }}"
          use-kubelogin: true

      - name: Helm package
        run: >
          helm package
          --destination ${{ runner.temp }}/package
          charts/cosmotech-api/

      - name: Write helm values
        run: |
          echo '${{ vars.HELM_VALUES }}' > values.yaml
          cat values.yaml

      - name: Helm upgrade/install
        run: >
          helm upgrade
          --install
          --wait
          --namespace ${{ vars.CLUSTER_NAMESPACE }}
          --reset-values
          --values values.yaml
          --set argo.imageCredentials.password=${{ secrets.ACR_CREDENTIALS_PASSWORD }}
          --set config.csm.platform.containerRegistry.password=${{ secrets.ACR_CREDENTIALS_PASSWORD }}
          --set config.csm.platform.identityProvider.identity.clientSecret=${{ secrets.KEYCLOAK_CLIENT_SECRET }}
          --set config.csm.platform.s3.secretAccessKey=${{ secrets.S3_PASSWORD }}
          --set config.csm.platform.databases.resources.password=${{ secrets.REDIS_PASSWORD }}
          --set config.csm.platform.databases.data.reader.password=${{ secrets.POSTGRES_READER_PASSWORD }}
          --set config.csm.platform.databases.data.writer.password=${{ secrets.POSTGRES_WRITER_PASSWORD }}
          cosmotech-api-ci
          ${{ runner.temp }}/package/cosmotech-api-*.tgz

      - name: Helm test
        run: >
          helm test
          --namespace ${{ vars.CLUSTER_NAMESPACE }}
          cosmotech-api-ci
